<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demo.floatwindowdemo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />


    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <application
        android:name="com.example.administrator.pet.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.administrator.pet.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.example.administrator.pet.FloatWindowService"></service>

        <service android:name="com.example.administrator.pet.NotificationService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">

            <intent-filter>

                <action android:name="android.service.notification.NotificationListenerService" />

            </intent-filter>

        </service>
        <activity android:name="com.example.administrator.pet.SettingActivity" >
        </activity>
        <activity android:name="com.example.administrator.pet.AlarmActivity" >
        </activity>

        <activity android:name="com.example.administrator.pet.Bluetooth.DeviceListActivity"
            android:label="@string/select_device"
            android:theme="@android:style/Theme.Holo.Light.Dialog"
            android:configChanges="orientation|keyboardHidden" >
        </activity>
        <receiver android:name="com.example.administrator.pet.StartupReceiver">
            <intent-filter>
                <!-- 指定接收的Broadcast Action -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <!-- 指定Action的种类，即Android系统启动后第一个运行的应用程序 -->
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.example.administrator.pet.AlarmReceiver">
        </receiver>
    </application>

</manifest>  